<section id="home">
    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col-x5-5 col-md-6">
                    <h1>Services de retouche</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia enim atque minus quidem optio quas</p>
                    <button class="main-btn mt-4">Commandez un service <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                    </svg></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="counter">
    <div class="counter-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <h2>
                        <span id="count1"></span>+
                    </h2>
                    <p>PHOTOS DE MARIAGES</p>
                </div>

                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <h2>
                        <span id="count2"></span>+
                    </h2>
                    <p>MANIPULATIONS</p>
                </div>

                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <h2>
                        <span id="count3"></span>+
                    </h2>
                    <p>RETOUCHES DE PORTRAITS</p>
                </div>

                <div class="col-md-3 col-sm-6 mb-md-0 mb-4">
                    <h2>
                        <span id="count4"></span>+
                    </h2>
                    <p>RÉPARATIONS DE PHOTOS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="about-section wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
                    <img src="https://i.pinimg.com/originals/32/2c/95/322c95e79076c0fc5b3ffcf0daea7a99.jpg" alt="" class="img-fluid">
                </div>

                <div class="col-lg-6 col-md-12 ps-lg-5">
                    <h2>À propos de nous</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo perspiciatis non possimus rerum incidunt facere itaque sit animi, quasi illo id molestias dignissimos, obcaecati nemo voluptatum natus molestiae eum?</p>
                    <a class="main-btn mt-4">En savoir plus</a>
                </div>
            </div>

            <div class="row align-items-center service-type">
                <div class="col-lg-5 col-md-12 order-2 order-lg-1 pe-lg-5">
                    <h2>Aide à la retouche photo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consectetur provident reprehenderit culpa beatae quas facilis tenetur, accusamus assumenda distinctio, aut mollitia. Soluta, inventore doloremque. Nemo, nihil? Blanditiis, at corrupti!</p>
                    <ul class="list-unstyled py-3">
                        <li><mat-icon>check</mat-icon> Retouche de photos de portraits</li>
                        <li><mat-icon>check</mat-icon> Mariage</li>
                        <li><mat-icon>check</mat-icon> Corps</li>
                    </ul>
                    <a href="" class="main-btn mt-4">Tous nos services</a>
                </div>

                <div class="col-lg-7 col-md-12 mb-lg-0 mb-5 order-1 order-lg-2">
                    <img src="https://www.decolore.net/wp-content/uploads/2018/09/photoshop-manipulation-tutorial-Floating-Man-With-Smoke-Over-The-Sea.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="story">
    <div class="story-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content">
                        <h2>Notre évolution</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo, numquam exercitationem perferendis repudiandae laudantium laboriosam nisi nihil velit deserunt voluptate quam, aspernatur sequi, laborum error eaque sapiente obcaecati cumque.</p>
                        <button class="main-btn mt-3">Voir plus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="explore-service">
    <div class="explore-service wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-content text-center">
                        <h2>Découvrez Nos Services</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas sint reprehenderit at nostrum nesciunt quod necessitatibus veniam earum. Atque architecto maxime tenetur hic consequatur neque reiciendis saepe? Perspiciatis, ducimus.</p>
                    </div>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1552645265-1d8c244be6f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGhvdG9zaG9wJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="" class="img-fluid">

                        <div class="p-4">
                            <h4>Retouche de portraits</h4>
                            <p>Nous ferons en sorte que les photos de portrait soient belles</p>
                            <span>10.000 FCFA</span>
                            <button class="mt-4 main-btn">Commandez</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1552645265-1d8c244be6f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGhvdG9zaG9wJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="" class="img-fluid">

                        <div class="p-4">
                            <h4>Retouche de portraits</h4>
                            <p>Nous ferons en sorte que les photos de portrait soient belles</p>
                            <span>10.000 FCFA</span>
                            <button class="mt-4 main-btn">Commandez</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1552645265-1d8c244be6f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGhvdG9zaG9wJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="" class="img-fluid">

                        <div class="p-4">
                            <h4>Retouche de portraits</h4>
                            <p>Nous ferons en sorte que les photos de portrait soient belles</p>
                            <span>10.000 FCFA</span>
                            <button class="mt-4 main-btn">Commandez</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="wrapper testimonial-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 text-center pb-4">
                    <h2>Commentaires</h2>
                </div>
            </div>

            <div class="col-sm-12 col-lg-10">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" class="img-fluid">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                <h5>Marisca Marisca</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" class="img-fluid">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <h5>Marisca Marisca</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="" class="img-fluid">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <h5>John Marisca</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <div class="team wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center pb-2">
                    <h2>Comment ça marche?</h2>
                    <p>Il est très facile de commencer à utiliser notre service de retouche photo en ligne ! Vous pouvez le faire en seulement 4 étapes</p>
                </div>
            </div>

            <div class="row text-center steps">
                <div class="col-md-3 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">1</h5>
                          <h6 class="card-subtitle mb-2 text-danger">Télécharger des photos</h6>
                          <p class="card-text">Créez un compte et téléchargez votre/vos photo/s.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">2</h5>
                          <h6 class="card-subtitle mb-2 text-danger">Rédiger des consignes</h6>
                          <p class="card-text">Rédigez des instructions, joignez des exemples de photos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">3</h5>
                          <h6 class="card-subtitle mb-2 text-danger">Obtenez vos photos modifiées</h6>
                          <p class="card-text">Récupérez vos photos modifiées via un lien de téléchargement</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">4</h5>
                          <h6 class="card-subtitle mb-2 text-danger">Soumettre pour révision si nécessaire</h6>
                          <p class="card-text">Acceptez le travail ou demandez des modifications</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center mt-4">
                    <p class="text-danger">Assurez-vous que nos retoucheurs de photographie professionnels suivront vos directives de retouche photo pour créer un chef-d'œuvre numérique</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="book-service">
    <div class="book-service">
        <div class="container book-service-text">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12">
                    <h2>Des professionels passionnés à votre service</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experiens">
    <div class="download-app wrapper">
        <div class="container">
            <div class="row align-item-center">
                <div class="col-md-6 mb-4 order-2 order-lg-1">
                    <div class="text-content">
                        <h1 class="mb-3">Le nom de l'app</h1>
                        <p>Le nom de l'app, Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ducimus cumque magni nulla? Mollitia eveniet necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim cupiditate officiis debitis consectetur, mollitia earum eaque praesentium ut hic ipsa porro qui optio cumque sed asperiores rem unde ipsum iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repudiandae esse placeat eos. Blanditiis deserunt id earum harum beatae mollitia nesciunt tempora repudiandae non consequuntur voluptatem rerum, sit aut quia?</p>
                    </div>
                </div>

                <div class="col-md-6 order-1 order-lg-2">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0&controls=0&autoplay=1&loop=1" title="YouTube video"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
