<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark relative" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>
        <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active relative float-left w-full">
            <img
            src="https://fixthephoto.com/images/uikit_slider/photography-retouching-services-17-wh960.jpg"
            class="block w-full"
            alt="..."
            />
        </div>
        <div class="carousel-item relative float-left w-full">
            <img
            src="https://fixthephoto.com/images/uikit_slider/image-retouching-company-18-wh960.jpg"
            class="block w-full"
            alt="..."
            />
        </div>
        <div class="carousel-item relative float-left w-full">
            <img
            src="https://fixthephoto.com/images/uikit_slider/retouching-services-for-professional-photographers-19-wh960.jpg"
            class="block w-full"
            alt="..."
            />
        </div>
    </div>
    <button
        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"></button>
    <button
        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"></button>
</div>

<section class="about text-center mt-8">
    <div class="container mx-auto">
        <section class="mb-20 text-gray-800 text-center">
            <div class="flex justify-center">
                <div class="text-center max-w-[700px]">
                    <h1 class="text-3xl font-bold mb-6 text-center">
                        Pourquoi<u class="text-blue-600"> nous choisir?</u>
                    </h1>
                    <p class="text-gray-500 mb-12">{{nom}} est l'agence la plus fiable dans le domaine de la retouche photo en ligne depuis 2003. Téléchargez simplement des photos, détaillez vos besoins et nous nous occupons du reste. </p>
                </div>
            </div>
  
            <div class="grid md:grid-cols-3 lg:gap-x-12">
                <div class="mb-12 md:mb-0">
                    <div class="p-4 bg-blue-600 rounded-lg shadow-lg inline-block mb-6">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="bi bi-check-circle w-5 h-5 text-white" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                          </svg>
                    </div>
                    <h5 class="text-lg font-bold mb-4">Fiabilité</h5>
                    <p class="text-gray-500">Service #1 dans l'industrie de la retouche photo </p>
                </div>
          
                <div class="mb-12 md:mb-0">
                    <div class="p-4 bg-blue-600 rounded-lg shadow-lg inline-block mb-6">
                        <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z">
                            </path>
                        </svg>
                    </div>
                    <h5 class="text-lg font-bold mb-4">Sécurité</h5>
                    <p class="text-gray-500">Nous garantissons une sécurité à 100% </p>
                </div>
          
                <div class="mb-12 md:mb-0">
                    <div class="p-4 bg-blue-600 rounded-lg shadow-lg inline-block mb-6">
                        <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path fill="currentColor"
                                d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H112C85.5 0 64 21.5 64 48v48H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H64v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z">
                            </path>
                        </svg>
                    </div>
                    <h5 class="text-lg font-bold mb-4">Rapidité</h5>
                    <p class="text-gray-500">Exécution rapide 24 heures </p>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="services">
    <div class="container mx-auto">
        <section class="text-gray-800">
            <h1 class="text-3xl font-bold mb-6 text-center">
                Quels sont<u class="text-blue-600"> nos services ?</u>
            </h1>
            <div class="flex flex-wrap">
                <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0 md:px-6">
                    <div class="relative overflow-hidden bg-no-repeat bg-cover rounded-lg shadow-lg" data-mdb-ripple="true" data-mdb-ripple-color="light" style="background-position: 50%">
                        <img src="https://pixabay.com/get/g906a02b2d1318a2769db20d6274e5c3aeaa3ccf399c066001e604df63e719f41fdc2dcc965a5899e33a3cc731eeeac073ee5ecf66472d8839d4628a81d2508204744af6a2ddc0c5ac1e922fa10ad8be8_1280.jpg" class="w-full" />
                        <a href="#!">
                            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                            style="background-color: rgba(0, 0, 0, 0.4)">
                                <div class="flex justify-center items-center h-full">
                                    <div class="px-6 py-12 md:px-12 text-white text-center">
                                        <h3 class="text-2xl uppercase font-bold mb-6">
                                        The future is <u style="color: hsl(210, 12%, 80%)">now</u>
                                        </h3>
                                        <p style="color: hsl(210, 12%, 80%)">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia
                                        laboriosam error consequuntur fugit, doloribus rerum, iure nesciunt amet
                                        quidem veniam cupiditate hic fugiat dolore aperiam quisquam libero earum
                                        quibusdam?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="relative overflow-hidden bg-no-repeat bg-cover">
                                <div
                                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                                style="background-color: rgba(251, 251, 251, 0.2)"></div>
                            </div>
                        </a>
                    </div>
                </div>
      
                <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12 md:px-6">
                    <div class="flex mb-12">
                        <div class="grow ml-4">
                            <p class="font-bold mb-1">Retouche de photos de portraits </p>
                            <p class="text-gray-500">Nous ferons en sorte que vos photos soient retouchées de manière professionnelle. Nos retoucheurs amélioreront les formes du corps et la texture de la peau, supprimeront les imperfections indésirables pour obtenir un aspect réaliste.</p>
                        </div>
                    </div>
      
                    <div class="flex mb-12">
                        <div class="grow ml-4">
                            <p class="font-bold mb-1">Bijoux</p>
                            <p class="text-gray-500">Faites briller vos photos de bijoux et les rendre impeccables. Nous pouvons améliorer les gemmes et pierres précieuses des bijoux, remplacer l'arrière-plan, corriger les couleurs et supprimer tous les objets indésirables.</p>
                        </div>
                    </div>
      
                    <div class="flex mb-12">
                        <div class="grow ml-4">
                            <p class="font-bold mb-1">Manipulation de photo </p>
                            <p class="text-gray-500">Rendez vos photos ou vos collages plus créatifs et amusants.
                                Nous pouvons remplacer entièrement les têtes, les expressions faciales, transformer l'arrière-plan, transformer vos images en peintures et faire des collages amusants. </p>
                        </div>
                    </div>
      
                    <div class="flex">
                        <div class="grow ml-4">
                            <p class="font-bold mb-1">Restauration</p>
                            <p class="text-gray-500"> Nous ferons revivre vos souvenirs.
                                Colorisez une vieille photo de famille ou restaurez une photo abîmée par le temps/l'eau/le feu. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="steps">
    <div class="container my-24 px-6 mx-auto">

        <!-- Section: Design Block -->
        <section class="mb-32 text-gray-800 text-center">
          <h2 class="text-3xl font-bold mb-20">Why is it so great?</h2>
      
          <div class="grid lg:gap-x-12 lg:grid-cols-3">
            <div class="mb-12 lg:mb-0">
              <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                  <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block -mt-8">
                    <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="p-6">
                  <h5 class="text-lg font-semibold mb-4">Support 24/7</h5>
                  <p>
                    Laudantium totam quas cumque pariatur at doloremque hic quos quia eius. Reiciendis
                    optio minus mollitia rerum labore facilis inventore voluptatem ad, quae quia sint.
                    Ullam.
                  </p>
                </div>
              </div>
            </div>
      
            <div class="mb-12 lg:mb-0">
              <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                  <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block -mt-8">
                    <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="p-6">
                  <h5 class="text-lg font-semibold mb-4">Safe and solid</h5>
                  <p>
                    Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam aspernatur odio
                    soluta, quisquam dolore animi mollitia a omnis praesentium, expedita nobis!
                  </p>
                </div>
              </div>
            </div>
      
            <div class="">
              <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                  <div class="p-4 bg-blue-600 rounded-full shadow-lg inline-block -mt-8">
                    <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z" />
                    </svg>
                  </div>
                </div>
                <div class="p-6">
                  <h5 class="text-lg font-semibold mb-4">Extremely fast</h5>
                  <p>
                    Enim cupiditate, minus nulla dolor cumque iure eveniet facere ullam beatae hic
                    voluptatibus dolores exercitationem? Facilis debitis aspernatur amet nisi?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Design Block -->
      
      </div>
      <!-- Container for demo purpose -->
</section>