<footer id="footer">
    <div class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="" class="footer-link">Créer un compte</a>
                    <a href="" class="footer-link">Se connecter</a>
                    <a href="" class="footer-link">Nos prix</a>

                    <div class="footer-social pt-4 text-center">
                        <a href="">
                            <mat-icon>facebook</mat-icon>
                        </a>

                        <a href="https://wa.me/+24177775427" target="_blank">
                            <mat-icon>whatsapp</mat-icon>
                        </a>

                        <a href="">
                            <mat-icon>telegram</mat-icon>
                        </a>
                    </div>                    
                </div>

                <div class="col-cm-12">
                    <div class="text-center pt-5">
                        <p class="text-light">&#169; 2022. Le nom de l'app. Tous droits reservés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>