<nav class="navbar navbar-expand-lg sticky-top text-white py-3 shadow-sm p-3 mb-5 bg-body">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://fixthephoto.com/images/fixthephoto-logo-photo-retouching-d.png" alt="" width="100" height="80" class="d-inline-block align-text-top">
    </a>

    <button mat-icon-button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/accueil" routerLinkActive="active" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="/nos-services" routerLinkActive="active" class="nav-link">Nos services</a>
        </li>
      </ul>
    </div>
  </div>
</nav>