nav {
  background-color: var(--third-color);
}

.navbar-brand {
  margin-right: 100px;
}

.nav-item {
  margin-right: 15px;
}

.nav-item a {
  font-size: 20px;
  font-weight: 300;
  color: var(--second-color);
}

.nav-item .active {
  color: var(--first-color);
  border-bottom: 2px solid var(--first-color);
  font-weight: 400;
}

.nav-item a:hover {
  font-weight: 400;
  color: var(--first-color);
}

.navbar-toggler {
  color: var(--first-color);
}