<div>
    <img src="https://fixthephoto.com/images/uikit_slider/photography-retouching-services-17-wh960.jpg" class="img-fluid" alt="...">
</div>

<section class="bg-white description">
    <div class="container">
        <div class="row">
            <div class="align-items-center justify-content-between">
                <h1>Tous nos services</h1>
            </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <p>Notre mission est d'offrir une aide à la retouche photo rapide, abordable, sécurisée et de haute qualité pour les photographes débutants et professionnels qui ne peuvent pas ou n'ont pas le temps de faire eux-mêmes l'édition d'images. Chez Labo Retina, nous comprenons que de nombreux photographes ne font que commencer, nous fournissons donc des services de retouche photo spécialisés pour tout le monde. Nous développons et essayons constamment de faciliter votre travail. Vous prenez des photos, nous éditons.</p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-4">
            <div class="card">
              <img src="https://fixthephoto.com/images/uikit_slider/photoshop-services--before-wh960.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>